h1{
  background-image: url(pattern.jpeg);
  font-family: Hevetica;
  font-size: 100px;
  color: khaki;
  text-align: center;
}
h2{
  font-family: Hevetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
h3{
  font-family: Hevetica;
    font-weight: bold;
}
p{
  font-family: Hevetica;
}
#brush {
  background-color: MediumSpringGreen;
}
#frame {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
.price {
  font-family: Hevetica;
  font-weight: bold;
  color: blue;
}
